body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.

@font-face {
    font-family: url(../assets/fonts/Mythology\ Of\ Egypt.otf);

}
.navFlex p{
    background-color:ghostwhite;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.searchItem{
    background-color: #fff;
    border: none;
}
.search{
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #fff;
    height: 35%;
    border-radius: 10px;

}

.aboutSection{
    position: relative;
    text-align: center;
    color: #e9ad1c;
    font-family: url(../assets/fonts/Mythology\ Of\ Egypt.otf);
    font-size: 96pt;

}
.titlePageSubheading{
    position: absolute;
    bottom: 16%;
    right: 16px;
    font-size: 24pt;
    font-family: metamorphous;
    color: #fff;


}
.titlePage{
    position: absolute;
    top: 50%;
    right: 16px;
    font-size: 96pt;
    font-family: url(../assets/fonts/Mythology\ Of\ Egypt.otf)
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;
    text-align: center;
    background-image: url(../assets/img/homeHeader.png);
    background-size: cover;
    background-repeat: none;
}
.aboutSection1{
    color:#002d68
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:left;
    padding: 10%;
    gap: 5%
    

}
.aboutSection button{
    background-color: #15d5f5;
    color: #fff;


}
.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 5%;
}


.flexContainerTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
    gap: 5%;
}


header img{

}